In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
rooms_record = pd.read_csv('exam_data_file.csv')

In [5]:
rooms_record.describe()

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,2.161300e+04,2.161300e+04,21600.000000,21603.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,...,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,10806.00000,4.580302e+09,5.400881e+05,3.372870,2.115736,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,...,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,6239.28002,2.876566e+09,3.671272e+05,0.926657,0.768996,918.440897,4.142051e+04,0.539989,0.086517,0.766318,...,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,0.00000,1.000102e+06,7.500000e+04,1.000000,0.500000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,...,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,5403.00000,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,...,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,10806.00000,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,...,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,16209.00000,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,...,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,21612.00000,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [4]:
rooms_record.loc[999:1010]

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
999,999,8001400340,20140924T000000,289000.0,3.0,2.00,1850,9550,1.0,0,...,8,1850,0,1988,0,98001,47.3225,-122.273,2250,9550
1000,1000,3131200640,20150427T000000,700000.0,4.0,2.00,1830,4590,2.0,0,...,8,1830,0,1908,0,98105,47.6593,-122.327,1650,4590
1001,1001,984000710,20141022T000000,270000.0,3.0,2.00,1560,8853,1.0,0,...,7,1560,0,1967,0,98058,47.4312,-122.171,1610,8750
1002,1002,4167300350,20140508T000000,258000.0,4.0,1.75,1730,8320,1.0,0,...,7,1230,500,1977,0,98023,47.3270,-122.361,1840,9800
1003,1003,2826049282,20140614T000000,530000.0,3.0,2.50,1930,7214,2.0,0,...,8,1930,0,2005,0,98125,47.7191,-122.309,1930,7266
1004,1004,8946750030,20141218T000000,245000.0,3.0,2.25,1422,3677,2.0,0,...,7,1422,0,2012,0,98092,47.3204,-122.178,1677,3677
1005,1005,461004720,20150422T000000,563000.0,3.0,2.00,1380,5000,1.5,0,...,7,1380,0,1917,0,98117,47.6807,-122.369,1350,5000
1006,1006,7852090810,20141119T000000,515000.0,3.0,2.50,2430,4203,2.0,0,...,8,2430,0,2001,0,98065,47.5346,-121.875,2500,4798
1007,1007,9264960340,20140617T000000,325000.0,4.0,2.50,2610,7091,2.0,0,...,9,2610,0,1987,0,98023,47.3017,-122.349,2610,7773
1008,1008,1624079104,20150402T000000,540000.0,3.0,2.25,2000,217800,2.0,0,...,8,2000,0,1996,0,98024,47.5599,-121.911,2220,217800
1009,1009,4310700570,20141210T000000,280300.0,2.0,1.00,920,5000,1.0,0,...,6,490,430,1949,0,98103,47.7008,-122.338,1500,5000
1010,1010,1254200075,20140509T000000,460000.0,4.0,1.75,1750,5500,1.5,0,...,7,1050,700,1926,0,98117,47.6802,-122.388,1640,5500

In [11]:
bedrooms_rec = rooms_record.bedrooms
bedrooms_rec

0        3.0
1        3.0
2        2.0
3        4.0
4        3.0
        ...
21608    3.0
21609    4.0
21610    2.0
21611    3.0
21612    2.0
Name: bedrooms, Length: 21613, dtype: float64

In [33]:
rooms_record.at[2, 'bedrooms_rec']

KeyError: 'bedrooms_rec'

In [25]:
bd3 = rooms_record.at[3, 'bedrooms']

4.0

In [ ]:
min2 = rooms_record['bedrooms==2'].min()

In [ ]:
max2= rooms_record['bedrooms==2'].max()

In [ ]:
min3 = rooms_record['bedrooms==3'].min()

In [ ]:
sbr2 = rooms_record['bd2'].sum()
avrbd2 = sbr2/
sbr3 = rooms_record['bd3'].sum()
avrbd3 = sbr3/